:root {
  --bg-primary: #4191b1;
  --fg-primary: #808080;
}

@font-face {
  font-family: "Playfair Display";
  src: url("./assets/fonts/PlayfairDisplay/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display";
  font-weight: lighter;
}
p {
  font-family: "Roboto";
}
.icon {
  width: 1.5rem;
  font-size: 1.5rem;
}

#photo1 {
  height: 25rem;
  display: flex;
  max-width: 20rem;
  width: 100%;
  box-shadow: -1px 0 3px rgba(50, 50, 0, 0.5);
  margin: 0 auto;
}
#photo2 {
  display: block;
  width: 100%;
}

.header-wrapper {
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.header-background {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  /* height: clamp(15rem, 105vw, 25rem); */
  z-index: 0;
  padding: 2rem;
}
.header-background::before {
  content: "";
  background-color: var(--bg-primary);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 25%, 0% 38%);
}
.background {
  display: flex;
  align-items: end;
  justify-content: start;
  background-size: cover;
  background-position: center;
  background-image: url("assets/imgs/header-pic.jpg");
}
.author-name {
  color: white;
  font-size: 3rem;
  text-align: right;
}

section.about {
  padding-inline: 1rem;
}
section.about h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 4rem;
}
section.about p {
  color: var(--fg-primary);
  line-height: 1.5rem;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  #photo1 {
    transform: scale(1.1, 1.4);
    height: 15rem;
    transform-origin: bottom right;
    float: left;
    margin-right: 2rem;
    overflow: visible;
  }
  .header-background::before {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 75%);
  }
  section.about {
    margin: 2rem;
    margin-top: 8rem;
    padding-bottom: 4rem;
    background-color: white;
  }
  section.about h1 {
    margin-bottom: 1rem;
  }
  section.about .links {
    display: none;
  }

  .background {
    position: relative;
    align-items: start;
    justify-content: end;
    margin-bottom: 1rem;
  }
  .background h4 {
    position: absolute;
    right: -13rem;
    white-space: nowrap;
    margin-left: 20rem;
  }
}

@media screen and (min-width: 1024px) {
}
